@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

html{
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
}

body{
   display: flex;
   width: 100vw;
   height: 100vh;
   margin: 0;
}
#side{
    border: 2px solid;
    width: 35vw;
    height: 100vh;
}

#main{
    border: 2px solid;
    width: 65vw;
    height: 100vh;
    background-color: antiquewhite;
    z-index: 1;
}

#back{
    width: 68.5vw;
}

#logo{
    width: 90px;
    height: auto;
    padding: 20px 0;
    margin: 0;
}

.logo{
    width: 36vw;
    position: absolute;
    top:200px;
    display: flex;
    background-color: rgba(1, 3, 12, 0.75);
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 0;
}

h1{
    color: aliceblue;
    font-size: 50px;
}

