@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

html{
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
}

body{
   display: flex;
   width: 100vw;
   height: 100vh;
   margin: 0;
}
#side{
    width: 35vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#back{
    width: 68vw;
    min-height: 100vh;
}

#logo{
    width: 90px;
    height: auto;
    padding: 20px 0;
    margin: 0;
}

.logo{
    width: 35.5vw;
    position: absolute;
    top:200px;
    display: flex;
    background-color: rgba(1, 3, 12, 0.75);
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 0;
}

h1{
    color: aliceblue;
    font-size: 50px;
}

.credits{
    position:absolute;
    z-index: 0; 
    top: 90vh;
    margin: 0;
    color: aliceblue;
    background-color: rgba(1, 3, 12, 0.45);
}

a{
    color: aliceblue;
}

#main{
    border-radius: 2px;
    width: 65vw;
    height: 100vh;
    background-color: rgb(1, 1, 22);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

h2{
    color: aliceblue;
}

p{
    color: aliceblue;
}

label{
    color: aliceblue;
    padding: 5px 0;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    margin: 5px 0;
    width: 50%;
    height: 25px;

}

#btn{
    padding: 10px 0;
    width: 150px;
    margin: 40px 0;
    height: 35px;
}

.login{
    position: relative;
    top: -80px;
    left: 170px;
}
.body{
    max-width: 50vw;
}